a{
  padding: 2px;
}
#float-right{
    float: right;
}

#heading{
    margin: 30px;
}

label{
    margin: 0px;
    padding: 0px;
}

#content-section{
    margin: 0% 20%;
    padding: 0px 50px;
}

.form-group{
    margin: 0px;
    padding: 0px;
}

.form-group-btn{
    margin: 5px 0px;
    padding: 0px;
}


