body, html{
    margin : 100;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.content{
    margin: 0 auto;
    width: 1000px;
}

.content_section{
    margin-left: 20%;
    margin-right: 20%;

    /*background: #57fadf73;*/
    /*border: 3px solid #024870be;*/
    /*border-radius: 20px;*/
    
}

table, td, th{
    border: 3 px solid #b00;
}


table{
    border-collapse: collapse;
    width: 50%;
}

th{
    height: 30px;
}

td{
    text-align: left;
    padding: 5px;
}

.form{
    padding-left:25%; 
    padding-right:25%;
    margin-top: 10px;
}

#content{
    width: 70%
}