{% extends 'base.html' %}
{% block head %}
    <title>Home</title>
{% endblock head %}

{% block body %}
    <div class="container" align="center" style="padding-left: 30%;padding-top: 15%;padding-right: 30%;">
        <div style="padding: 20px">
            <h2>Welcome to Contacts Book!</h2>
        </div>
    

        <div>
            <a class="btn btn-primary" href="/register" role="button" style="margin: 5px">Register</a>
            <a class="btn btn-primary" href="/login" role="button" style="margin: 5px">Login</a>
        </div>
    </div>


{% endblock body %}