{% extends 'base.html' %}
{%block head%}

    <title>Home</title>
    <style type="text/css">
        h2{
            color: white;
        }
        h5{
            color: #f4f6f6;
        }
        a{
            margin: 3px;
        }
        #top{
            margin-top: 15%;
        }
        
    </style>

{% endblock%}

{% block body %}
    <div class="container" id="top">        
        <div class="row">
            <div class="col-sm-7">
                <h2><strong>Welcome to Contacts Book!</strong></h2>
                <h5>A hassle-free way to save your contacts.</h5>
            </div> 

            <div class="col-sm-5">
                <img src="static/images/Contacts.jpg" width='300' height='100'>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">          
                <a class="btn btn-primary " href="/register" role="button">Register</a>
                <a class="btn btn-primary  " href="/login" role="button">Login</a>  
            </div>          
        </div>
    </div>
{% endblock %}
